* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* fonts ---> */
  /* sohne, "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Courier New', Courier, monospace;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none; 
  box-sizing: border-box;
  display: inline-block; 
  text-align: center; 
  
}
