@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

.HeroBox {
    height: 34vw;
    margin: 0px 235px 20px 235px;
    background-color: transparent;
    background-image: url('/heroimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.HeroBox h1 {
    font-family: "Akronim", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color: white;
    margin: 40px 0px 150px 0px;
}

.HeroBox p{
    font-size: 30px;
    color: white;
    text-align: center;
}

.special-hero-link {
    margin-top: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 99em;
}