
.Recent-story-feed{
    height: 34vw;
    margin: 50px 235px 20px 235px;
    padding: auto;
    background-color: transparent;
    position: relative;
    color: rgb(0, 0, 0);
}

.trending-ison-img{
    width: 40px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 50%;
}

.trending-text{
    display: flex;
    align-items: center;
    gap: 15px;
}