.navbar{
    width: 100%;
    height: 100px;
    background-color: #ffc017;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px 20px 250px;
}

.left-nav{
    width: fit-content;
    height: fit-content;
}
.left-nav img{
    width: 100px;
}

.right-nav{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.normal-nav-link{
    font-size: 15px;
    margin: 0px 15px;
    color: black;
    font-size: 18px;
    padding: 5px;
    box-sizing: content-box;
}

.normal-nav-link:hover{
    border: 1px solid black;
    padding: 4px;
    background-color: white;
}

.special-nav-link {
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 99em;
}
