.postdetails-container{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border: 2px solid #f4f4f4;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.postimage{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
}

.post-details-description>*{
margin-top: 20px;
}

.read-more-post-section{
    color: #ff5f5f;
}