.recent-card{
    width: 376.75px;
    height: fit-content;
    background-color: #fafafa;
    border-radius: 1em;
    display: flex;
    gap: 50px;
}
.user-profile-cards img{
    width: 25px;
    border-radius: 50%;
}
.card-index-number{
    font-size: 40px;
}

.Margin-top-buttom{
    margin: 20px 0 20px 0px;
}

.user-profile-cards{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px 10px 0px;
}

.recent-card-contex{
   font-weight: 900;
}

.recent-card-date{
    color: #6B6B6B;
}

.card-index-number{
    color: #6B6B6B;
    opacity: 0.1;
}